<?xml version="1.0"?>
<configuration>

  <location path="ManageRole.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="?" />        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ManageUser.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.web>

    </system.web>
</configuration>
