.MyImageButton {
    cursor: auto;
}

.TextPicture {
    vertical-align:bottom;
    text-align:left;
}
.EditFormHeader td {
    font-size: 14px;
    padding: 4px !important;
    color: #0066cc;
}


html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

.TopMainMenu {
    height: 40px;
    max-height: 26px;
    padding-left: 30px;
    float:left;
   
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 95%;
}

#header {
    height: 50px;
    }
#body {
    background-color: aliceblue;
    clear: both;
    padding-bottom: 5px;
}

/*.main-content {
    background: url("~/Content/images/accent.png") no-repeat;
    padding-left: 5px;
    padding-top: 5px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}*/


header .content-wrapper {
    padding-top: 5px;
}

footer {
    bottom: 5px;
    position: relative;
    clear: both;
    font-size: .8em;
    height: 35px;
}




/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 5px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin-left: 0px;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 5px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }




/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.25em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 0.25em 0.25em 0em;
    border: 0 none;
    font-size: smaller;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }



    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }


    /* END: Mobile Styles */



}


.Base {
    display: inline-block;
    font: 12px/18px "segoe ui",arial,sans-serif;
    height: 20px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 121px;
    color: #fff;
    border: 1px solid #333;
}

.L0 {
    border: 0 none;
}

.L1 {
    background-color: #ff3933;
}

.L2 {
    background-color: #ff6633;
}

.L3 {
    background-color: #ff3399;
}

.L4 {
    background-color: #cccc33;
}

.L5 {
    background-color: #33cc00;
}

.cfgContent .RadComboBox {
    margin-bottom: 10px;
    width: 298px;
}

.cfgContent .RadComboBoxWithLabel .rcbLabel {
    width: 210px;
    display: inline-block;
}


.checkboxes {
    line-height: 30px;
}

.customizedInd .RadInput {
    margin-bottom: 5px;
}

    .customizedInd .RadInput .riLabel {
        width: 100px;
        display: inline-block;
    }

.customizedInd h2 {
    font-weight: normal;
    font-size: 14px;
    color: #666;
}


































.RadButton_MySkin {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

    .RadButton_MySkin .rbDecorated {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

    .RadButton_MySkin.rbSkinnedButton,
    .RadButton_MySkin .rbDecorated,
    .RadButton_MySkin.rbVerticalButton,
    .RadButton_MySkin.rbVerticalButton .rbDecorated,
    .RadButton_MySkin .rbSplitRight,
    .RadButton_MySkin .rbSplitLeft {
        background-image: url('Button/ButtonSprites.png');
        color: #5b5a48;
    }

    .RadButton_MySkin .rbToggleCheckbox,
    .RadButton_MySkin .rbToggleCheckboxChecked,
    .RadButton_MySkin .rbToggleCheckboxFilled,
    .RadButton_MySkin .rbToggleRadio,
    .RadButton_MySkin .rbToggleRadioChecked {
        background-image: url('Button/ToggleSprite.png');
    }

    .RadButton_MySkin.rbToggleButton,
    .RadButton_MySkin.rbToggleButton.rbDisabled:hover {
        color: #272722;
    }

        .RadButton_MySkin.rbToggleButton:hover {
            color: #279500;
        }

    .RadButton_MySkin.RadButton.rbLinkButton {
        background-color: #e0e2cb;
        border: 1px solid #898772;
        _border: 1px solid #898772 !important;
        color: #5b5a48;
    }

        .RadButton_MySkin.RadButton.rbLinkButton:hover {
            background-color: #b0e67b;
            _border: 1px solid #898772 !important;
            color: #279500;
        }

    .RadButton_MySkin.rbLinkButtonChecked,
    .RadButton_MySkin.rbLinkButtonChecked:hover {
        background-color: #e0e2cb;
        color: #5b5a48;
        border: 1px solid #898772;
    }

    .RadButton_MySkin.rbLinkButton.rbDisabled,
    .RadButton_MySkin.rbLinkButton.rbDisabled:hover {
        background-color: #f0f0f0;
        border: 1px solid #c5c3ad;
        color: #777777;
    }

    .RadButton_MySkin.rbLinkButton:hover .rbSplitLeft,
    .RadButton_MySkin.rbLinkButton:hover .rbSplitRight {
        background-color: #e0e2cb;
    }

    .RadButton_MySkin.rbLinkButton .rbSplitRight {
        border-left: 1px solid #898772;
    }

        .RadButton_MySkin.rbLinkButton .rbSplitRight:hover {
            background-color: #b0e67b;
            border-left: 1px solid #6ec64d;
        }

        .RadButton_MySkin.rbLinkButton .rbSplitRight:active,
        .RadButton_MySkin.rbLinkButton .rbSplitRight:focus {
            background-color: #58b41a;
            border-left: 1px solid #6ec64d;
        }

    .RadButton_MySkin.rbLinkButton .rbSplitLeft {
        border-right: 1px solid #898772;
    }

        .RadButton_MySkin.rbLinkButton .rbSplitLeft:hover {
            background-color: #b0e67b;
            border-right: 1px solid #6ec64d;
        }

        .RadButton_MySkin.rbLinkButton .rbSplitLeft:active,
        .RadButton_MySkin.rbLinkButton .rbSplitLeft:focus {
            background-color: #58b41a;
            border-right: 1px solid #6ec64d;
        }

    .RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft,
    .RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft:hover,
    .RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft:active,
    .RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft:focus {
        border-right: 1px solid #c5c3ad;
    }

    .RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight,
    .RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight:hover,
    .RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight:active,
    .RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight:focus {
        border-left: 1px solid #c5c3ad;
    }

/* CSS Base overrides for skins using old sprite structure */

.RadButton.RadButton_MySkin.rbSkinnedButton {
    background-position: right 0;
    padding-right: 4px;
}


.RadButton.RadButton_MySkin .rbDecorated {
    background-position: left -22px;
    padding-right: 6px;
    *padding-right: 8px;
    padding-left: 10px;
}

.RadButton.RadButton_MySkin.rbSkinnedButton:hover {
    background-position: right -44px;
}

    .RadButton.RadButton_MySkin.rbSkinnedButton:hover .rbDecorated {
        background-position: left -66px;
    }

.RadButton.RadButton_MySkin.rbSkinnedButton:focus,
.RadButton.RadButton_MySkin.rbSkinnedButton:active,
.RadButton.RadButton_MySkin.rbSkinnedButtonChecked,
.RadButton.RadButton_MySkin.rbSkinnedButtonChecked:hover {
    background-position: right -88px;
}

    .RadButton.RadButton_MySkin.rbSkinnedButton:focus .rbDecorated,
    .RadButton.RadButton_MySkin.rbSkinnedButton:active .rbDecorated,
    .RadButton.RadButton_MySkin.rbSkinnedButtonChecked .rbDecorated,
    .RadButton.RadButton_MySkin.rbSkinnedButtonChecked:hover .rbDecorated {
        background-position: left -110px;
    }

/* IE and Opera Focus and Active state fix with additional class, should be used !important */
.RadButton.RadButton_MySkin.rbPressedButton {
    background-position: right -88px !important;
}

    .RadButton.RadButton_MySkin.rbPressedButton .rbDecorated {
        background-position: left -110px !important;
    }

/* IE8 Onclickg filckering Bug fix */
.RadButton.RadButton_MySkin.rbSkinnedButton.rbPressedIE8 .rbDecorated,
.RadButton.RadButton_MySkin.rbSkinnedButton.rbPressedIE8Rtl .rbDecorated {
    -ms-background-position-x: 1px !important;
    -ms-background-position-y: -109px !important;
}

.RadButton.RadButton_MySkin.rbSkinnedButton.rbPressedIE8Rtl .rbDecorated {
    -ms-background-position-x: -1px !important;
}

.rbSkinnedButton.rbPressedIE8,
.rbSkinnedButton.rbPressedIE8Rtl {
    background-position: right -88px !important;
}
/* fix end */

/* Vertical Buttons overrides */
.RadButton.RadButton_MySkin.rbVerticalButton {
    background-position: right -155px;
    padding-right: 4px;
}

    .RadButton.RadButton_MySkin.rbVerticalButton .rbDecorated {
        padding-right: 6px;
        padding-left: 10px;
        background-position: left -220px;
    }

    .RadButton.RadButton_MySkin.rbVerticalButton:hover {
        background-position: right -285px;
    }

        .RadButton.RadButton_MySkin.rbVerticalButton:hover .rbDecorated {
            background-position: left -350px;
        }

    .RadButton.RadButton_MySkin.rbVerticalButton:focus,
    .RadButton.RadButton_MySkin.rbVerticalButton:active,
    .RadButton.RadButton_MySkin.rbVerticalButtonChecked,
    .RadButton.RadButton_MySkin.rbVerticalButtonChecked:hover {
        background-position: right -415px;
    }

        .RadButton.RadButton_MySkin.rbVerticalButton:focus .rbDecorated,
        .RadButton.RadButton_MySkin.rbVerticalButton:active .rbDecorated,
        .RadButton.RadButton_MySkin.rbVerticalButtonChecked .rbDecorated,
        .RadButton.RadButton_MySkin.rbVerticalButtonChecked:hover .rbDecorated {
            background-position: left -480px;
        }

    /* IE and Opera Focus and Active state fix with additional class, should be used !important */
    .RadButton.RadButton_MySkin.rbVerticalButton.rbPressedButton {
        background-position: right -415px !important;
    }

        .RadButton.RadButton_MySkin.rbVerticalButton.rbPressedButton .rbDecorated {
            background-position: left -480px !important;
        }

    /* IE8 Onclickg filckering Bug fix */
    .RadButton.RadButton_MySkin.rbVerticalButton.rbPressedIE8 .rbDecorated,
    .RadButton.RadButton_MySkin.rbVerticalButton.rbPressedIE8Rtl .rbDecorated {
        -ms-background-position-x: 1px !important;
        -ms-background-position-y: -479px !important;
    }

    .RadButton.RadButton_MySkin.rbVerticalButton.rbPressedIE8Rtl .rbDecorated {
        -ms-background-position-x: -1px !important;
    }

    .RadButton.RadButton_MySkin.rbVerticalButton.rbPressedIE8,
    .RadButton.RadButton_MySkin.rbVerticalButton.rbPressedIE8Rtl {
        background-position: right -415px !important;
    }
/* fix end */

/* Checkboxes override */
.RadButton.RadButton_MySkin .rbToggleCheckbox {
    background-position: -4px 0;
}

    .RadButton.RadButton_MySkin .rbToggleCheckbox:hover,
    .RadButton.RadButton_MySkin.rbToggleButton:hover .rbToggleCheckbox,
    .RadButton.RadButton_MySkin.rbSkinnedButton .rbToggleCheckbox:hover,
    .RadButton.RadButton_MySkin.rbLinkButton .rbToggleCheckbox:hover {
        background-position: -4px -20px;
    }

.RadButton.RadButton_MySkin .rbToggleCheckboxChecked {
    background-position: -4px -40px;
}

    .RadButton.RadButton_MySkin .rbToggleCheckboxChecked:hover,
    .RadButton.RadButton_MySkin.rbToggleButton:hover .rbToggleCheckboxChecked,
    .RadButton.RadButton_MySkin.rbSkinnedButton .rbToggleCheckboxChecked:hover,
    .RadButton.RadButton_MySkin.rbLinkButton .rbToggleCheckboxChecked:hover {
        background-position: -4px -60px;
    }

.RadButton.RadButton_MySkin .rbToggleCheckboxFilled {
    background-position: -4px -80px;
}

.RadButton.RadButton_MySkin .rbToggleCheckbox:hover,
.RadButton.RadButton_MySkin.rbToggleButton:hover .rbToggleCheckboxFilled,
.RadButton.RadButton_MySkin.rbSkinnedButton .rbToggleCheckboxFilled:hover,
.RadButton.RadButton_MySkin.rbLinkButton .rbToggleCheckboxFilled:hover {
    background-position: -4px -100px;
}

.RadButton.RadButton_MySkin .rbToggleRadio {
    background-position: -24px 0;
}

    .RadButton.RadButton_MySkin .rbToggleRadio:hover,
    .RadButton.RadButton_MySkin.rbToggleButton:hover .rbToggleRadio {
        background-position: -24px -20px;
    }

.RadButton.RadButton_MySkin .rbToggleRadioChecked {
    background-position: -24px -40px;
}

    .RadButton.RadButton_MySkin .rbToggleRadioChecked:hover,
    .RadButton.RadButton_MySkin.rbToggleButton:hover .rbToggleRadioChecked {
        background-position: -24px -60px;
    }

/* SplitButton Overrides */
.RadButton.RadButton_MySkin .rbSplitRight {
    right: 0;
    background-position: 0 -137px;
}

    .RadButton.RadButton_MySkin .rbSplitRight:hover {
        background-position: -18px -137px;
    }

    .RadButton.RadButton_MySkin .rbSplitRight:focus,
    .RadButton.RadButton_MySkin .rbSplitRight:active {
        background-position: -36px -137px;
    }

.RadButton.RadButton_MySkin .rbSplitLeft {
    left: 0;
    background-position: -54px -137px;
}

    .RadButton.RadButton_MySkin .rbSplitLeft:hover {
        background-position: -72px -137px;
    }

    .RadButton.RadButton_MySkin .rbSplitLeft:focus,
    .RadButton.RadButton_MySkin .rbSplitLeft:active {
        background-position: -90px -137px;
    }

/* Split Button Link Button */
.RadButton.RadButton_MySkin.rbLinkButton .rbSplitRight,
.RadButton.RadButton_MySkin.rbLinkButton .rbSplitRight:hover,
.RadButton.RadButton_MySkin.rbLinkButton .rbSplitRight:active,
.RadButton.RadButton_MySkin.rbLinkButton .rbSplitRight:focus,
.RadButton.RadButton_MySkin.rbLinkButton .rbSplitLeft,
.RadButton.RadButton_MySkin.rbLinkButton .rbSplitLeft:hover,
.RadButton.RadButton_MySkin.rbLinkButton .rbSplitLeft:active,
.RadButton.RadButton_MySkin.rbLinkButton .rbSplitLeft:focus {
    background-position: -108px -137px;
}

.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft:focus,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight:focus,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled:hover .rbSplitRight,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled:hover .rbSplitLeft {
    background-color: inherit;
    background-position: -108px -137px;
}

.RadButton.RadButton_MySkin.rbSkinnedButton .rbDecorated.rbPrimary {
    padding-left: 20px;
}

.RadButton.RadButton_MySkin.rbSkinnedButton .rbDecorated.rbSecondary {
    padding-right: 25px;
}

/* Disabled split buttons */
.RadButton.RadButton_MySkin.rbDisabled .rbSplitRight:hover,
.RadButton.RadButton_MySkin.rbDisabled .rbSplitRight:active,
.RadButton.RadButton_MySkin.rbDisabled .rbSplitRight:focus {
    background-position: 0 -137px;
}

.RadButton.RadButton_MySkin.rbDisabled .rbSplitLeft:hover,
.RadButton.RadButton_MySkin.rbDisabled .rbSplitLeft:active,
.RadButton.RadButton_MySkin.rbDisabled .rbSplitLeft:focus {
    background-position: -54px -137px;
}

.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight:focus,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft:focus,
.RadButton.RadButton_MySkin.rbLinkButton.rbDisabled .rbSplitLeft:active {
    background-position: -108px -137px;
}

.RadButton.RadButton_MySkin.rbDisabled:hover,
.RadButton.RadButton_MySkin.rbDisabled:focus,
.RadButton.RadButton_MySkin.rbDisabled:active {
    background-position: right 0;
}

    .RadButton.RadButton_MySkin.rbDisabled:hover .rbDecorated,
    .RadButton.RadButton_MySkin.rbDisabled:focus .rbDecorated,
    .RadButton.RadButton_MySkin.rbDisabled:active .rbDecorated {
        background-position: left -22px;
    }

.RadButton.RadButton_MySkin.rbVerticalButton.rbDisabled:hover,
.RadButton.RadButton_MySkin.rbVerticalButton.rbDisabled:focus,
.RadButton.RadButton_MySkin.rbVerticalButton.rbDisabled:active {
    background-position: right -155px;
}

    .RadButton.RadButton_MySkin.rbVerticalButton.rbDisabled:hover .rbDecorated,
    .RadButton.RadButton_MySkin.rbVerticalButton.rbDisabled:focus .rbDecorated,
    .RadButton.RadButton_MySkin.rbVerticalButton.rbDisabled:active .rbDecorated {
        background-position: left -220px;
    }

/* Toggle checkboxes disabled ovverides need to be here */
.RadButton.RadButton_MySkin.rbDisabled .rbToggleCheckbox:hover,
.RadButton.RadButton_MySkin.rbDisabled:hover .rbToggleCheckbox {
    background-position: -4px 0;
}

.RadButton.RadButton_MySkin.rbDisabled .rbToggleCheckboxChecked:hover,
.RadButton.RadButton_MySkin.rbDisabled:hover .rbToggleCheckboxChecked {
    background-position: -4px -40px;
}

.RadButton.RadButton_MySkin.rbDisabled .rbToggleCheckboxFilled:hover,
.RadButton.RadButton_MySkin.rbDisabled.rbToggleButton:hover .rbToggleCheckboxFilled {
    background-position: -4px -80px;
}

/* Toggle radio disabled */
.RadButton.RadButton_MySkin.rbDisabled .rbToggleRadio:hover,
.RadButton.RadButton_MySkin.rbDisabled:hover .rbToggleRadio {
    background-position: -24px 0;
}

.RadButton.RadButton_MySkin.rbDisabled .rbToggleRadioChecked:hover,
.RadButton.RadButton_MySkin.rbDisabled:hover .rbToggleRadioChecked {
    background-position: -24px -40px;
}

.dropClue {
    width: 24px;
    height: 24px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.dropEnabled {
    background-image: url('images/Green.png');
}

.dropDisabled {
    background-image: url('images/Red.png');
}

.dragDropCheckBox {
    margin-top: 15px;
}

.exampleWrapper {
    /*background: url('../Content/images/background_image.png') 0 20px no-repeat;*/
    width: 100%;
    height: 100%;
    float: left;
}

    .exampleWrapper .outerMultiPage {
        height: 600px;
        width: 593px;
        border-color: darkblue;
        border-width: 1px;
        border-style: double;
        /*margin-left: 15px;*/
        /*margin-top: 30px;*/
    }

    .exampleWrapper .innerMultiPage {
        display: -moz-inline-box;
        display: inline-block;
        zoom: 1;
        *display: inline;
        position: relative;
        margin-bottom: -3px;
    }

.ingredients.qsf-ib {
    vertical-align: top;
    position: relative;
    top: -19px;
    *top: 0px;
}

.ingredients p {
    font: Segoe UI;
    color: #d80033;
    text-transform: uppercase;
    font-size: 18px;
    white-space: normal;
    word-wrap: break-word;
    width: 230px;
    margin-top: 13px;
    *margin-top: -7px;
}

.ingredients ul {
    font: Segoe UI;
    color: #444444;
    font-size: 13px;
    list-style-type: none;
    margin-left: -40px;
    *margin-left: 0px;
}

.recipeImage.qsf-ib {
    vertical-align: top;
    margin: 0 15px;
}

html .subtitle {
    font: Segoe UI;
    color: #444444;
    font-size: 13px;
    text-transform: uppercase;
}

.disclaimer p {
    font: Segoe UI;
    color: #888888;
    font-size: 12px;
    left: 1px;
    margin: 0;
    position: relative;
    top: -12px;
    width: 390px;
    word-wrap: break-word;
    white-space: normal;
}

html .RadTabStrip .rtsImg,
html .RadTabStripVertical .rtsImg {
    border: 0 none;
    margin-left: -2px;
    margin-top: 7px;
    vertical-align: middle;
}

html .RadRating {
    margin-bottom: 22px;
    position: relative;
    top: 15px;
    *top: -3px;
}
