<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="AspNetProviderEntities" connectionString="metadata=res://*/AspNet.AspNET.csdl|res://*/AspNet.AspNET.ssdl|res://*/AspNet.AspNET.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ms-volteer.c5psin8sbwth.us-west-2.rds.amazonaws.com;initial catalog=AspNetProvider;persist security info=True;user id=CISC475;password=Section1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VolTeerEntities" connectionString="metadata=res://*/VT.VolTeer.csdl|res://*/VT.VolTeer.ssdl|res://*/VT.VolTeer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ms-volteer.c5psin8sbwth.us-west-2.rds.amazonaws.com;initial catalog=VolTeer;persist security info=True;user id=CISC475;password=Section1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
