<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AspNetProviderEntities" connectionString="metadata=res://*/AspNet.ASPNET.csdl|res://*/AspNet.ASPNET.ssdl|res://*/AspNet.ASPNET.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ms-volteer.c5psin8sbwth.us-west-2.rds.amazonaws.com;initial catalog=AspNetProvider;persist security info=True;user id=CISC475;password=Section1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VolTeerEntities" connectionString="metadata=res://*/VT.VolTeer.csdl|res://*/VT.VolTeer.ssdl|res://*/VT.VolTeer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ms-volteer.c5psin8sbwth.us-west-2.rds.amazonaws.com;initial catalog=VolTeer;persist security info=True;user id=CISC475;password=Section1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
